
	<form action="{{ path('EquipmentSearch') }}" method="post" class="search-bar">
		<div class="location-icon">
			<i class="fa-solid fa-laptop fa-xl dark_gray"></i>
		</div>
		<input type="text" class="search-input" value="" name="search_field">
		<input type="submit" value="Rechercher" class="btn btn-primary">

	</form>
